.left {
  background-color: white;
  width: 45%;
  height: 670px;
  color: black;
  border-radius: 14px;
  border:3px solid rgb(64, 55, 55);
}
.leftline {
  color: black;
  background-color: rgb(54, 52, 72);
  height: 13%;
  border-radius: 6px;
  display: flex;
  border: 1px solid rgb(31, 25, 25);
}
.leftline h1 {
  margin-top: 25px;
  margin-left: 50px;
  font-weight: 500;
  color: white;
}
.circle img {
  height: 50px;
  width: 47px;
  margin-left: 10px;
  border-radius: 50px;
  margin-top: 20px;
  border: 1px solid black;
}
.header {
  height: 80px;
  display: flex;
  height: 70px;
}
.header img {
  height: 70px;
  width: 68px;
  margin-left: 10px;
  border-radius: 90px;
  border: 1px solid black;
}
.header h1 {
  color: black;
  padding-top: 26px;
  padding-bottom: 4px;
  /* background-color: rgb(150, 161, 158); */
  /* background-color: rgb(54, 52, 72); */
  margin-left: 20px;
  font-weight: 600;
}
.logo {
  background-color: rgb(16, 22, 26);
  height: 30px;
  width: 47px;
  margin-left: 10px;
  border-radius: 50px;
  font-weight: 400;
  margin-top: 25px;
  color: azure;
}
.container {
  color: azure;
  display: flex;
  /* background-color: bisque; */
}

.middle{
  background-color: white;
  width: 50%;
  height: 70px;
  border-radius: 10px;
 
    border:3px solid rgb(64, 55, 55);
}
.right{
  background-color: white;
  width: 30%;
    border:3px solid rgb(64, 55, 55);
}
.circle1 img{
 height: 50px;
  width: 47px;
  margin-left: 10px;
  border-radius: 50px;
  margin-top: 10px;
  border: 1px solid black;
}
.chats{
  color: rgb(16, 18, 18);
background-color: rgb(250, 250, 245);
margin-top: 500px;
height: 170px;
border-radius: 10px;
width: 500px;


 border:3px solid rgb(64, 55, 55);
}
.middle{display: flex}
.middle h1{
   color: rgb(22, 22, 22);
    font-weight: 600;
    margin-top: 15px;
  margin-left: 15px;

}